<!DOCTYPE html>
<meta charset="utf-8">
<style>

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

</style>

<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://datamaps.github.io/scripts/datamaps.usa.js?v=1"></script>
<script src="/static/countyLookup.js"></script>

<div id="container" style="position: fixed; width: 100%; height: 100%;"></div>
<script>
    var colors = ["#CF000F", "#F7CA18"];
    var source = new EventSource('/stream');
    var hashTweet = {};
    var hashSentiment = {};

    source.onmessage = function (event){
        var county_id = event.data.split("DELIMITER")[0];
        var tweet = event.data.split("DELIMITER")[1];
        var sentiment = event.data.split("DELIMITER")[2]; 

        console.log("NEW DATA IS HERE " + event.data);

        hashTweet[county_id]=tweet;
        hashSentiment[county_id]=sentiment;
    };

    var map = new Datamap({
        element: document.getElementById('container'),

        scope: 'counties',
        setProjection: function(element, options){
            var projection, path;
            projection = d3.geo.albersUsa()
                .scale(element.offsetWidth)
                .translate([element.offsetWidth / 2, element.offsetHeight/2]);

            path = d3.geo.path().projection( projection );

            return {path: path, projection: projection};
        },
        fills: {
            defaultFill: '#68C3A3'
        },

        data: {
        },

        geographyConfig: {
            dataUrl: '/static/us.json',
            popupTemplate: function(geo, data){

            var lineOfTweets = "<p>" + hashTweet[geo.id] + "</p>";
            console.log(lineOfTweets)

            return ['<div class="hoverinfo">',
                    '<strong>Last Tweet flagged in ', countyLookup[geo.id], '</strong>',
                    lineOfTweets, '</div>'].join('');
            }
        }
    });

    var updateViz =  function(){
        for(key in hashSentiment){
            var data = {};
            if(hashSentiment[key]){
                data[key] = colors[hashSentiment[key]];
                map.updateChoropleth(data);
            }
        }
        hashSentiment = {};
    }

    window.setInterval(updateViz, 1000);
</script>

</body>
